TestClient/Service References/ServiceReference1/Spoils_ServiceWCF.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Spoils_ServiceWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Spoils_ServiceWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="DataContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstNumber" type="xs:long" />
      <xs:element minOccurs="0" name="JobNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastNumber" type="xs:long" />
      <xs:element minOccurs="0" name="RetrieveSpoilRecords" nillable="true">
        <xs:complexType>
          <xs:annotation>
            <xs:appinfo>
              <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
              </ActualType>
            </xs:appinfo>
          </xs:annotation>
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
            <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="TextFileIndex" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="TextFilesInDataFolder" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="WasScanned" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataContract" nillable="true" type="tns:DataContract" />
</xs:schema>