Spoils.BLL/Service References/Spoils_ServiceReference2/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Spoils_ServiceWCF" />
  <xs:element name="CustomerName">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Spoils_ServiceWCF" minOccurs="0" name="customerName" nillable="true" type="q1:DataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Spoils_ServiceWCF" minOccurs="0" name="CustomerNameResult" nillable="true" type="q2:DataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JobNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Spoils_ServiceWCF" minOccurs="0" name="jobNumber" nillable="true" type="q3:DataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JobNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Spoils_ServiceWCF" minOccurs="0" name="JobNumberResult" nillable="true" type="q4:DataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FirstNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Spoils_ServiceWCF" minOccurs="0" name="firstNum" nillable="true" type="q5:DataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FirstNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Spoils_ServiceWCF" minOccurs="0" name="FirstNumberResult" nillable="true" type="q6:DataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LastNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Spoils_ServiceWCF" minOccurs="0" name="lastNum" nillable="true" type="q7:DataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LastNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Spoils_ServiceWCF" minOccurs="0" name="LastNumberResult" nillable="true" type="q8:DataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TextFileIndexer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Spoils_ServiceWCF" minOccurs="0" name="textFileIndex" nillable="true" type="q9:DataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TextFileIndexerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Spoils_ServiceWCF" minOccurs="0" name="TextFileIndexerResult" nillable="true" type="q10:DataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WasScanned">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Spoils_ServiceWCF" minOccurs="0" name="wasScanned" nillable="true" type="q11:DataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WasScannedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Spoils_ServiceWCF" minOccurs="0" name="WasScannedResult" nillable="true" type="q12:DataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListOfTextFiles">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Spoils_ServiceWCF" minOccurs="0" name="listOfTextFiles" nillable="true" type="q13:DataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListOfTextFilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Spoils_ServiceWCF" minOccurs="0" name="ListOfTextFilesResult" nillable="true" type="q14:DataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpoilRecordsDT">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Spoils_ServiceWCF" minOccurs="0" name="getSpoilRecordsDT" nillable="true" type="q15:DataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpoilRecordsDTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Spoils_ServiceWCF" minOccurs="0" name="GetSpoilRecordsDTResult" nillable="true" type="q16:DataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>